/.phpdoc/*
/.phpunit.cache/*
/.phpunit.result.cache
/composer.lock
/coverage/*
/vendor/*
/pkg/
/example/data/logs/*
!/example/data/logs/.htaccess
/example/data/sessions/*
!/example/data/sessions/.htaccess
/example/data/users/*
!/example/data/users/.htaccess
/example/data/settings/*
!/example/data/settings/.htaccess
/example/data/competitions/*
!/example/data/competitions/api-test-competition.json
/ui/src/apis/competitionSchema.js
